#mainConGS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 1rem; */
    padding: 0rem 1rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    width: 100%;

}

/* Team Stats */
#teamStatsConGS {
    position: sticky;
    top: 5.5rem;
    z-index: 80;
    padding-bottom: .5rem;
    background-color: #0d0d0d;
    width: 100%;

}

#teamStatsSubConGS {
    /* display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.teamStatConGS {
    /* grid-column: 1; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    /* gap: -1rem; */
    width: 50%;
}
.homeG {
    flex-direction: row;
}

.teamInfoConGS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: scroll;
}

.teamNameGS {
    font-size: 1.5rem;
    font-weight: 200;
    font-stretch: expanded;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    max-width: 100%;

}

.teamRecordGS {

}

.teamPointsGS {
    font-family: 'Roboto Flex';
    font-size: 3rem;
    font-weight: 300;
    /* font-stretch: expanded; */
    text-align: center;
    margin: 0rem .5rem;
}
.winningTeamGS {
    color: #ff9045;
}

/* Player Stats */
#playerStatsConGS {
    width: 100%;
    margin-top: 2rem;
}

.playerStatConGS {

    margin-bottom: 1.5rem;
}

.playerTeamNameGS {
    margin-bottom: .5rem;

}

/* Table */
.tableConGS {
    width: 100%;

}

.tableGS {
    width: 100%;

}

.tableHeadGS {

}
.tableBodyGS {

}

.tableHeadRowGS {
    background-color: #2f2f2ff8;
}
.tableBodyRowGS {

}

.tableCellGS {
    padding: .15rem .5rem;

}
.tableHeadCellGS {
    font-size: 1.2rem;
    font-weight: 400;
    /* font-stretch: expanded; */
    padding: .25rem .3rem;

}
.tableHeadStatCellGS {
    text-align: center;
}
.tableBodyCellGS {
    font-size: 1rem;
    font-weight: 200;
    font-stretch: expanded;
    text-align: center;
    padding: .15rem .9rem;

}
.statCellGS {

}
.playerNumberCellGS {
    
}
.playerInfoCellGS {
    text-align: left;
}

.playerNumberGS {

}
.playerLinkGS {

}
.playerNameGS {
    font-size: 1.1rem;
    font-weight: 200;
    font-stretch: expanded;
    color: #ff9045;
    transition: color .3s ;
    cursor: pointer;
}
.playerNameGS:hover {
    color: #ffb600;
    transition: color .3s ;
}

#importBtn {

}
#statsStatusGS {
    font-size: 1.5rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: 1rem;
}

/* Sports VIsion Model */
#mainConSV {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;

    /* width: 80%; */
}

#logoSV {
    width: 10rem;
}

#infoSV {
    font-size: 1.5rem;
    font-weight: 200;
    font-stretch: expanded;
    text-align: center;

}

#linkSV {
    font-weight: 500;
    color: #ff9045;
    transition: color .3s ;
}

#linkSV:hover {
    color: #ffb600;
    transition: color .3s ;
}

#linkSponV {
    transition: color .3s ;
}

#sponserSV {
    padding: .5rem;
    margin-top: 1rem;
    width: 20rem;
    transition: background-color .3s ;
}
#sponserSV:hover {
    background-color: #ff8f4546;
    border-radius: .25rem;
    transition: background-color .3s ;
}


@media (min-width:700px) {
    #teamStatsConGS {
        top: 3.8rem;

        padding-top: 2rem;
    
    }
}


