/* #gameDayCon {
    width: 100%;
} */
#mainConGD {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0rem 2rem;
    max-width: 85%;
}

/* Title Info */
#infoConGD {
    margin-bottom: 2rem;
}
#titleGD {
    /* margin-top: 3rem; */
    margin-bottom: 2rem;
}

#disNameGD {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    font-stretch: expanded;
    /* margin-bottom: .5rem; */

}

#disDateGD {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    font-stretch: expanded;
    /* margin-bottom: .5rem; */

}

#disLocationGD {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    font-stretch: expanded;
}

#dateGD {
    font-size: 1.5rem;
    font-weight: 700;
    font-stretch: expanded;
}



/* Games */
.gameTimeGD {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: .3rem;

}

.gameDurGD {
    font-size: 1rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: .5rem;

}

.gameNameGD {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: .5rem;

}

.gameLocConGE {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3rem;
    margin-bottom: 1rem;
    

}

.gameLocIconGD {

}

.gameLocGD {
    font-size: 1rem;
    font-weight: 200;
    font-stretch: expanded;

}

.gameLinkGD {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: #ffb600;
}

.gameLinkInfoGD {
    font-size: 1.1rem;
    font-weight: 200;
    font-stretch: expanded;
    color: #ffb600;
}

.gameLinkIconGD {
    font-size: .7rem;
    color: #ffb600;
}

/* Options */
.buttonGD {
    margin-top: 1rem;

}
.newGD {
}
.editGD {

}

.borderGD {
    margin: 1rem 0rem;
    border: .5px solid #fdfdfd;
}

@media (min-width:600px) {
    .gameInfoConGD {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    }

    .gameInfoSubCon1GD {
        width: 39%;
        
    }

    .gameInfoSubCon2GD{
        width: 60%;
    }

    .optionsConGD {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .editGD {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    
    .borderGD {
        width: 100%;
    }
}

@media (min-width:800px) {
    .gameInfoSubCon1GD {
        width: auto;
        margin-right: 6rem;
        
    }

    .gameInfoSubCon2GD{
        width: 60%;
    }
}
