#mainConFO {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

/* Sponsors */
#sponsorsConFO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
}

.spLogoConFO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.spLogoFO {
    width: 50%;
}

/* Socials */
#socialsConFO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socialLinkFO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.socialIconFO {
    font-size: 1.5rem;
    color: #ffffff7d;
}

/* Creators */
.creatorsConFO {

}

@media (min-width:600px) {
    #sponsorsConFO {
        margin-bottom: 0rem;
    }

    .spLogoConFO {
        width: 25%;
    }
    
    .spLogoFO {
        width: 50%;
    }
    
    /* Socials */
    #socialsConFO {
        justify-content: flex-end;
    }
    
    .socialLinkFO {
        width: auto;
    }
}

@media (min-width:900px) {
    .spLogoConFO {
        width: 16%;
    }
    
    .spLogoFO {
        width: 60%;
    }
}
