@font-face {
    font-family: 'Sour Gummy';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/SourGummy-Regular.ttf');
}

@font-face {
    font-family: 'Sour Gummy';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/SourGummy-Bold.ttf');
}

@font-face {
    font-family: 'Chewy';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Chewy-Regular.ttf');
}

@font-face {
    font-family: 'Delius';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Delius-Regular.ttf');
}

@font-face {
    font-family: 'BalsamiqSans';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/BalsamiqSans-Regular.ttf');
}

@font-face {
    font-family: 'BalsamiqSans';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/BalsamiqSans-Bold.ttf');
}

@font-face {
    font-family: 'Syne';
    /* font-style: normal;
    font-weight: 700; */
    src: url('/fonts/Syne-VariableFont.ttf');
}

@font-face {
    font-family: 'Roboto Flex';
    /* font-style: normal;
    font-weight: 200; */
    src: url('/fonts/RobotoFlex-VariableFont.ttf');
}


body {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 200;
    background-color: #0d0d0d;
    color: #fdfdfd;
    padding: 0px 0px;
    margin: 0px;
}

.pageCon {
    opacity: 0;
    transition: opacity .5s ease-in;

}

.pageCon.load {
    opacity: 1;
    transition: opacity .5s ease-in;

}

#mainPageCon {
    position: relative;
    min-height: 100vh;
}

#subPageCon {
    padding-bottom: 45px;
}

h1,h2  {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    margin: 0px;
}

h3,h4 {
    font-family: 'Roboto Flex';
    margin: 0px;
}

h5,h6,p {
    font-family: 'Roboto Flex';
    margin: 0px;
}

a {
    font-family: 'Roboto Flex';
    text-decoration: none;
}

/* a:visited {
    color: #fdfdfd;
}

a:active {
    color: #fdfdfd;
} */

a:link, a:visited, a:active { color: #fdfdfd; }

a:active {
    background-color: #0d0d0d00;
}
a:hover {
    background-color: #0d0d0d00;
}

.curser {
    cursor: pointer;
}




b {
    font-weight: 650;
}

.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
.blackout {
    filter: brightness(0%) invert(50%) grayscale(0%);
}


.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}



button {
    font-family: 'Roboto Flex';
    border: 1px solid #ffb600;
    background-color: #0d0d0d;
    transition: background-color .2s;
    color: #ffb600;
    border-radius: 2rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #ffb600;
    color: #0d0d0d;
    
    transition: background-color .2s;
}

.hidden {
    display: none;
}

.fadein {
    animation: fin .3s ease-in;
}

.fadeout {
    animation: fin .3s ease-in;
}

@keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fout {
    from { opacity: 1;}
    to   { opacity: 0;}
}

.rotate {
    transform: rotate(180deg);
    /* transition: transform .2s; */
}
.rotateBack {
    transform: rotate(0deg);
    /* transition: transform .2s; */
}


  
@keyframes rotate180 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}






/* Forms */
.formCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.inputTitle {
    margin-bottom: .8rem;
}

.inputCon {
    margin-bottom: 1rem;
}

.labelCon {

}

.labelTitle {
    margin-bottom: .3rem;
}

.error {
    color: #ff1744;
    margin-top: .2rem;
}

.formInput {
    width: 200px;
    color-scheme: dark;
    background-color: #0d0d0d;
    border: 1px solid #ffb600;
    border-radius: 5px;
    color: #fdfdfd;
    padding: .5rem;
}

.formInput:focus {
    border: 1px solid #ffb7007e;
    outline: none;
}


.submitCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.confirmButtonCon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}

.submitButton {
    
    
}

.submitButton:disabled {
    border: 1px solid #262c32;
    background-color: #262c32;
    color: #868686;
}

.confirmText {
    text-align: center;
}

