#mainConS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;

}

/* Title */
#titleS {
    width: 85%;
    text-align: center;
    margin-bottom: 2rem;
}

/* Game Day Card */
#cardsConS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.cardS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    border: .5px solid #ffffff5f;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    overflow: hidden;

}

 /* Image */
.imgConS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.imgS {
    width: 110%;
}

/* Info */
.infoCon {
    width: 80%;
    margin-top: 1rem;
}

.nameS {
    font-size: 1.6rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: .3rem;

}

.dateS {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: 1.2rem;
}

.moreInfoToggleConS {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.moreInfoTextS {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    text-decoration: underline;

}

.moreInfoIconConS {
    display: flex;
    justify-content: center;
    align-items: center;

}

.moreInfoIconS {
    font-size: 1.6rem;

}

.moreInfoConS {

}

.dateTimeS {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    line-height: 1.3;
    margin-bottom: .3rem;

}

.locationS {
    font-size: 1.2rem;
    font-weight: 200;
    font-stretch: expanded;
    line-height: 1.3;

}

/* Options */


.buttonConS {
    width: 80%;
}
.buttonS {
    font-size: 1rem;
    font-weight: 200;
    font-stretch: ultra-expanded;
    margin-bottom: 1rem;
}
.linkS {
    margin-top: 1rem;
    width: 100%;
}
.newS {
}
.editS {
    width: 80%;
}

@media (min-width:600px) {
    #cardsConS {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .cardS {
        width: 47%;
        margin: .5rem;
    }

    .moreInfoToggleConS {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .moreInfoConS {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #0d0d0d;
        border-radius: 1rem;
        position:absolute;
        padding: 2rem;
        box-sizing: border-box;
        width: 47%;
        z-index: 99;
    }

    .infoCloseConS {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .infoCloseIconS {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .nameS {
        text-align: center;
    
    }
    .nameMS {
        margin-bottom: 1rem;
    
    }
    
    .dateS {
        text-align: center;
    }
    
    .dateTimeS {
        text-align: center;
    }
    .dateTimeMS {
        margin-bottom: 2rem;
    }
    
    .locationS {
        text-align: center;
    }
    .locationMS {
        text-align: center;
    }

    .hiddenS {
        visibility: hidden;
    }
}

@media (min-width:900px) {

    .cardS {
        width: 30%;
    }

    .moreInfoConS {
        width: 30%;
    }
    
}